.App {
  padding-top: 200px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-size: 80px;
  color: rgb(62, 62, 62);
}

button{
  color: #fff;
  margin-left: 10px;
  padding: 10px 30px;
  background-color: #17850db2;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  transition: linear .2s;
  font-size: 20px;
}
button:hover{
  padding: 10px 34px;
  background-color: #e10606;
  font-weight: 800;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
